<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.java.javaee.servlets.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>/html/default.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>

    <icon>
        <small-icon></small-icon>
        <large-icon></large-icon>
    </icon>

    <display-name>Rare Books</display-name>
    <description>
        This Web application
    </description>

    <mime-mapping>
        <extension>foo</extension>
        <mime-type>application/1d-interleaved-parityfec</mime-type>
    </mime-mapping>

    <locale-encoding-mapping-list>
        <locale-encoding-mapping>
            <locale>ja</locale>
            <encoding>Shift_JIS</encoding>
        </locale-encoding-mapping>
        <locale-encoding-mapping>
            <locale>he</locale>
            <encoding>windows-1255</encoding>
        </locale-encoding-mapping>
    </locale-encoding-mapping-list>

    <distributable/>
</web-app>